@import "../../config/variables";


.root {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  flex-direction: column;
  width: 100%;

  .wrapper {
    height: 800px;
    display: block;
    margin-bottom: 25px;
  }

  .editor {
    height: 600px;
    border: 1px solid #F1F1F1;
    padding: 5px;
    border-radius: 2px;
  }
}

