$bg-color : #FAFAFA;
$footerBgColor : #EDEDF9;
$menuBgColor : #2C1951;
$selectedColor : #AA8858;
$footerNavColor : #2C1951;
$footerCopyrightColor : #3F3F3F;
$dark-blue: #003569;
$light-blue: #3897f0;
$dark-grey: #999;
$border-color: #e6e6e6;
$light-grey: #efefef;