@import "../../config/variables";

.auth{
  width: 100%;
  max-width: $max-page-width;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  .column{
    &:first-child{
      margin-top: 60px;
    }
    .topColumnText{
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 50px;
      color: #2C1951;
      margin: 5px 0;

      @include breakpoint(tablet){
        font-size: 30px;
      }
      @include breakpoint(phone){
        font-size:20px;
      }
    }
    .middleColumnText{
      color :#AA8858;
      margin: 50px 0;
      cursor: pointer;
    }
    .loginButton{
      display: flex;
      width: 200px;
      height: 40px;
      align-items: center;
      background-color: #204889;
      color: white;
      justify-content: space-around;
      margin-bottom: 25px;
      cursor: pointer;
      border: 0;
      font-size: $normal-font-size;
      text-align: center;
      i {
        margin-right: 5px;
      }
      &:focus,
      &:active {
        outline: none;
      }
    }
    .bottomColumnText{
      margin : 30px 0;
      color: #3f3f3f;
      .bottomColorLinkText{
        cursor: pointer;
        font-weight: bold;
        color: #2C1951;
        margin-left: 10px;
      }
    }
  }
}